@media screen and (min-width: 768px) {
  .home_value-graph_wrapper:hover .graph-highlight {
    transform: scaleY(1);
  }

  .home_value-content_wrapper {
    position: absolute;
    width: 100%;
  }
  .home_value-content_wrapper:nth-child(1) {
    position: static;
    width: 100%;
  }
}

/* .home_value-wrapper {
  height: 80rem;
} */
